@charset "UTF-8";
/* CSS Document */

#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}

 #video1_png {
border: black 5px solid;
}
 
 #video2_png {
display: none;
border: black 5px solid;
width: 250px; 
height:250px; 
}
