/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:cornflowerblue;  /* background color */
	color:#030303;          /* text color for the entire page */
	font-size: 18px;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif'
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width:1200px;
	margin:0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	text-align:left;
	font-size:24px;
	background-color:lightskyblue;
	border-radius:50px;
 }

.stepContent{ 
	background-color: white;
	padding:10px;
	display: flex;
	justify-content: center;
	border-style:double;
	border-radius:50px;	
}

.stepDescription {
	width:55%;
	padding:20px;
}

.stepImage {
	width:60%;	
	padding:8px;
	text-align: center;
	border-top-left-radius: 20;
	border-bottom-left-radius: 20;
	border-bottom-right-radius: 20;
}
img{border-radius:50px;
	box-shadow: 0 4px 8px 0 gray, 0px 20px 0 gray;
	
}


.warning {
	background-color: pink;
	font-weight:inherit;
	padding:10px;
	border-radius:20px;
}

.material-icons {
	color:red; 
	font-size:3em;
}


