/* CSS Document */
/* All comments go between the front slash and asterisk symbols */

body {
	background-color:cornflowerblue;   /* background color */
	color:#030303;          /* text color for the entire page */
	font-size: 18px;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif'
}

h1, h2 { 
	text-align:center;     /* centers h1 and h2 content */
}

/* styles for the "wrapper" div, notice that "wrapper" is preceded by "#" */
#wrapper {
	width:1200px;
	margin:0 auto;    /* centers wrapper */
}

/* styles for the "stepTitle" class, notice that "stepTitle" is preceded by a dot */
.stepTitle{
	padding:10px;
	text-align:left;
	font-size:24px;
	background-color:#F7B857
 }

.stepContent{ 
	background-color: #B8C5D4;
	padding:7px;
	display: flex;
	justify-content: center;
}

.stepDescription {
	width:55%;
	padding:5px;
}

.stepImage {
	width:60%;	
	padding:8px;
	text-align: center;
	border-radius: 100;
}



