@charset "UTF-8";
/* CSS Document */

#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}

 #lebflag_jpeg {
border: black 5px solid;
}
 
 #beirut_jpeg {
display: none;
border: black 5px solid;
}

 
body{
	background-image: url("../img/place.jpeg");
background-repeat:no-repeat;
	background-size: cover;

}
.choices{
	color:white;
}