@charset "UTF-8";
/* CSS Document */

#wrapper {
width: 900px;
margin: 0 auto;
text-align: center;
}

 #lebflag_jpeg {
border: black 5px solid;
	width: 300; height: 200;
	  
}
 
 #capital_jpeg {
display: none;
border: black 5px solid;
width: 200; height: 100;	 
}

body{
	background-image: url("../img/place.jpeg");
background-repeat:no-repeat;
	background-size: cover;

}
.choices{
	color:white;
}
#text3{
	color:white;
}
#text1{
	color:white;
}
#hint{
	color:white;
}
.choices {
cursor: pointer;
}
#Next{
	font-size: 2em;
	font-display:#1E34CB;
	font-display:solid bold,
}